<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
      <a class="google-btn" href="/google/events">Show Events</a>
      <a class="google-btn" href="/google/add">Add Event</a>
  </body>
</html>